<hr />
<footer>
    <span class='st_facebook' displayText='Facebook'></span>
<span class='st_twitter' displayText='Tweet'></span>
<span class='st_googleplus' displayText='Google +'></span>
<span class='st_linkedin' displayText='LinkedIn'></span>
<span class='st_fblike' displayText='Facebook Like'></span>
  <p>&copy; E-Shop 2013 Powered By Talha Hanjra</p>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "ur-871ec9dc-9ea7-2e0-e633-8d4ae73d1434"});</script>

</footer>
<!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <script type="text/javascript">
    $('.carousel').carousel()
    </script>
